.root {
    width: 470px;
    position: relative;
    margin: 20px auto 0;

}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    top: 12px;
    left: 0;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 20px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
}

.input:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.clearIcon {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    top: 14px;
    right: 12%;
    cursor: pointer;
}

.clearIcon:hover {
    opacity: 0.8;
}