.App {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.root {
  width: 470px;
  position: relative;
  margin: 20px auto 0;
  
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 0;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 20px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  top: 14px;
  right: 12%;
  cursor: pointer;
}

.clearIcon:hover {
  opacity: 0.8;
}

.content {
  height: 80vh;
}

.content_error {
  padding-top: 250px;
}

.content_error h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.content_error p {
font-size: 22px;
}

.spinner {
  margin-top: 300px;
}

.joke {
  max-width: 800px;
  margin: 15px auto;
  box-shadow: 0 0 3px 3px rgb(237, 237, 237);
  border-radius: 4px 4px;
  padding: 10px 0;
}

.pagination {
  position: absolute;
  bottom: 0;
  position: relative;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.pageNumber {
  border: none;
  background-color: #fff;
  padding: 0 10px;
  font-size: 14px;
  color: silver;
}

.pageNumber.start {
  position: absolute;
  top: 33.5%;
  left: 18%;
}

.pageNumber.end {
  position: absolute;
  top: 33.5%;
  right: 15%;
}

.pageNumber.prevPoint {
  position: absolute;
  top: 28%;
  left: 24.8%;
}

.pageNumber.nextPoint {
  position: absolute;
  top: 28%;
  right: 24.8%;
}

.pageNumber:hover {
  font-size: 14px;
  color: black;
}

.pageNumber_active {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(167, 166, 166);
  padding-top: 1px;
  font-size: 16px;
  border: none;
  margin: 0;
  padding: 0;
}

