.App {
overflow: hidden;
text-align: center;
}

.content {
  height: 80vh;
}

.spinner {
  margin-top: 300px;
}

.joke {
  margin: 35px 0;
}

.pagination {
  position: absolute;
  bottom: 0;
  position: relative;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.pageNumber {
  border: none;
  background-color: #fff;
  padding: 0 10px;
  font-size: 14px;
  color: silver;
}

.pageNumber.start {
  position: absolute;
  top: 33.5%;
  left: 18%;
}

.pageNumber.end {
  position: absolute;
  top: 33.5%;
  right: 15%;
}

.pageNumber.prevPoint {
  position: absolute;
  top: 28%;
  left: 24.8%;
}

.pageNumber.nextPoint {
  position: absolute;
  top: 28%;
  right: 24.8%;
}

.pageNumber:hover {
  font-size: 14px;
  color: black;
}

.pageNumber_active {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(167, 166, 166);
  padding-top: 1px;
  font-size: 16px;
  border: none;
  margin: 0;
  padding: 0;
}