.App {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.content {
  height: 80vh;
}

.content_error {
  padding-top: 250px;
}

.content_error h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.content_error p {
font-size: 22px;
}

.spinner {
  margin-top: 300px;
}